@import url('reset.css');
@import url('fonts.css');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Geist', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #09090B;
    align-items: center;
    justify-content: center;
    color: #FAFAFA;
    font-size: 18px;
    font-weight: 400;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
    width: 1488px;
}

header a {
    color: #FAFAFA;
}

.logo {
    display: block;
    width: 189px;
    height: 40px;
}

.navigation-links {
    gap: 12px;
    font-weight: 600;
}

.button-public {
    justify-self: center;
    padding: 13.5px 32px;
    background: #0077FF;
    border-radius: 14px;
}

.burger-menu {
    height: 44px;
    width: 44px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background: #18181B;
}


main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1440px;
}

.path {
    display: flex;
    gap: 10px;
    color: #52525B;
    flex-wrap: wrap;
}

.path > :last-child {
    color: #FAFAFA;
}

.offer-title {
    background: #18181B;
    height: 240px;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vacation-present {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-name {
    font-size: 16px;
}

.vacation-name {
    font-weight: 600;
}

.vacation-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.offer-cards {
    display: flex;
    gap: 16px;
}

.chip {
    justify-self: center;
    padding: 6px 12px;
    background: #0077FF;
    border-radius: 12px;
}

.details {
    display: flex;
    gap: 24px;
}

.application-panel {
    width: 43.46%;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.application {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background: #18181B;
    border-radius: 24px;
    padding: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.button {
    border-radius: 14px;
    padding: 13.5px 32px;
}

.blue {
    background: #0077FF;
}

.application-panel a {
    color: #FAFAFA;
}

.response {
    font-size: 28px;
    font-weight: 600;
}


.company-name-logo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.company-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    width: 88%;
}

.company-logo {
    width: 60px;
    height: 60px;
}

.company-name {
    font-size: 28px;
}

.desktop-font {
    font-size: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    gap: 12px;
    padding: 12px;
    letter-spacing: -0.02em;
}

.offer-description {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #18181B;
    width: 100%;
    gap: 12px;
    border-radius: 24px;
}

.offer-description ul {
    padding-left: 24px;
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.offer-description li {
    line-height: 1.3;
    font-size: 18px;
    font-weight: 400;
    list-style-type: disc;
    letter-spacing: 0.00em;
}

.offer-description li::marker {
    color: #fff;
}


.mobile-only {
    display: none;
}

.desktop-only {
    display: inherit;
}

.desktop-flex {
    flex-direction: row;
}

.gray {
    background: #27272A;
    border: 1px solid #3F3F46;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    color: #FFFFFF;
}

.all {
    display: flex;
    flex-direction: row;
    width: 100%;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #18181B;
    border-radius: 24px;
    padding: 48px;
    width: 1440px;
    margin-bottom: 30px;
}

.public-vacation {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 24px;
}

.public-vacation span {
    font-size: 30px;
    font-weight: 900;
}

.public-vacation .button {
    width: fit-content;
    height: fit-content;
}

.links {
    width: 100%;
    align-items: flex-start;
    gap: 12px;
    font-size: 24px;
}

.last {
    padding: 11.5px 24px;
}

@media (max-width: 1488px) {
    header {
        width: 100%;
    }
    main {
        width: calc(100% - 48px);
    }
    .desktop-font {
        font-size: calc(24px + (36 * ((100vw - 1024px) / 464)));
    }
    footer {
        width: calc(100% - 48px);
    }
}

@media (max-width: 1024px) {
    main {
        width: calc(100% - 24px);
    }
    footer {
        width: calc(100% - 24px);
    }
    .offer-title {
        padding: 12px;
    }
    .offer-cards {
        gap: 8px;
    }
    .chip {
        padding: 6px 20px; font-size: 16px;
    }
    .fresh {
        font-size: 14px;
    }
    .mobile-only {
        display: inherit;
    }
    .desktop-only {
        display: none;
    }
    .desktop-font {
        font-size: 24px;
    }
    .desktop-flex {
        flex-direction: column;
        gap: 12px;
        align-items: start;
    }
    .application-panel {
        width: 100%;
    }
    .info{
        padding: 0px;
    }
    .gray {
        background: #F4F4F5;
        color: #131313 !important;
    }
    .all {
        flex-direction: column;
        gap: 96px;
        padding: 0px;
    }
    footer {
        display: flex;
        gap: 96px; padding: 12px;
    }
    .last {
        padding: 9px 12px;
    }
    .company-info {
        width: 102%;
        letter-spacing: -0.02em;
    }
}

