@import url('reset.css');
@import url('fonts.css');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Geist', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #09090B;
    align-items: center;
    justify-content: center;
    color: #FAFAFA;
    font-size: 18px;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
    width: 1488px;
}
header a {
    color: #FAFAFA;
}
.logo {
    display: block;
    width: 189px;
    height: 40px;
}
.navigation-links {
    gap: 12px;
    font-weight: 600;
}
.button-public {
    justify-self: center;
    padding: 13.5px 32px;
    background: #0077FF;
    border-radius: 14px;
}
.burger-menu {
    height: 44px;
    width: 44px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1440px;
}
.path {
    display: flex;
    gap: 10px;
    color: #52525B;
    flex-wrap: wrap;
}
.path > :last-child {
    color: #FAFAFA;
}
.offer-title {
    background: #18181B;
    height: 240px;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vacation-present {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company-name {
    font-size: 16px;
}
.vacation-name {
    font-weight: 600;
}

.vacation-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.offer-cards {
    display: flex;
    gap: 16px;
}
.chip {
    justify-self: center;
    padding: 6px 12px;
    background: #0077FF;
    border-radius: 12px;
}

.details{
    display: flex;
    gap: 24px;
}
.application-panel {
    width: 32.2%;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.application {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background: #18181B;
    border-radius: 24px;
    padding: 24px;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.button {
    border-radius: 14px;
    padding: 7px 32px;
}
.application-panel a {
    color: #FAFAFA;
}
.response {
    font-size: 28px;
    font-weight: 600;
}

.company-name-logo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.company-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.company-logo{
    width: 60px;
    height: 60px;
}
.company-name {
    font-size: 28px;
}

.desktop-font {
    font-size: 60px;
}

.info{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    gap: 12px;
    padding: 12px;
}
.offer-description {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #18181B;
    width: 100%;
    gap: 12px;
    border-radius: 24px;
}
.offer-description ul {
    padding-left: 24px;
}
.offer-description li {
    line-height: 1.3;
    font-size: 18px;
    font-weight: 400;
    list-style-type: disc;
}
.offer-description ul {
    list-style-position: outside;
}
.offer-description li::marker {
    color: #fff;
}
/* Важно! */
.offer-description li:not(:last-child) {
    margin-bottom: 16px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.mobile-only {
    display: none;
}
.desktop-only {
    display: inherit;
}
.desktop-flex {
    flex-direction: row;
}

.color{
    background: #27272A;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        color: #FFFFFF;
    }
}
.all{
    display: flex;
    flex-direction: row;
    width: 100%;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #18181B;
    border-radius: 24px;
    padding: 48px;
    width: 1440px;
}
.public-vacation{
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 24px;
    span{
        font-size: 30px;
        font-weight: 900;
    }
}
.public-vacation .button{
    width: fit-content;
    height: fit-content;
}
.links{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 12px;
    font-size: 24px;
}

@media (max-width: 1488px) {
    header {
        width: 100%;
    }
}
@media (max-width: 1440px) {
    main {
        width: 100%;
    }
    .desktop-font {
        font-size: calc(24px + (36 * ((100vw - 1024px) / 416)));
    }
}
@media (max-width: 1024px) {
    .offer-title {
        padding: 12px;
    }
    .offer-cards{
        gap: 8px;
    }
    .chip{
        padding: 6px 20px;
        font-size: 16px;
    }
    .fresh{
        font-size: 14px;
    }
    .mobile-only {
        display: inherit;
    }
    .desktop-only {
        display: none;
    }
    .desktop-font {
        font-size: 24px;
    }
    .desktop-flex {
        flex-direction: column;
        gap: 12px;
        align-items: start;
    }
    .application-panel {
        width: 100%;
    }
    .color {
        background: #F4F4F5;
        color: #131313;
    }
        header .color a {
        color: #131313;
    }
        .button:last-child {
        padding: 9px 12px;
    }
    .all {
        flex-direction: column;
        gap: 96px;
        padding: 12px;
        
    }
    footer {
        display: flex;
        gap: 96px;
        width: 100%;
    }
}

